* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.miniatura {
  background-image: url("./media/miniatura.JPG");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: miniatura;
}
.text {
  padding-left: 15%;
  padding-top: 15%;
  padding-right: 15%;
  grid-area: texto;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #000;

  color: aliceblue;
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 500px;
  grid-template-areas: "miniatura texto";
}

.playButton {
  width: 60px;
  height: 60px;
}
.playButton:hover {
  cursor: pointer;
}

.banner h2 {
  color: #fff;
  font-weight: 500;
  font-size: 2em;
}

.banner p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
  margin: 15px 0px 25px;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: rgba(0, 0, 0, 95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  position: relative;
  max-width: 900px;
  outline: none;
}

@media (max-width: 600px) {
  .banner {
    grid-template-rows: 20% auto;
    grid-template-areas:
      "miniatura"
      "texto";
  }
  .trailer video {
    max-width: 90%;
  }
  .miniatura {
    height: 200px;
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
